<!DOCTYPE html>
<html lang="en">
<head>
    <title>Transaction view</title>
    <style>
        body * { font-family: sans-serif; }
        h1 { } input { font-size:12pt; }
        #main { width: 550px; margin: 0 auto; }
        .btn-link {
            border: none;
            outline: none;
            background: none;
            cursor: pointer;
            color: #0000EE;
            padding: 0;
            text-decoration: underline;
            font-family: inherit;
            font-size: inherit;
        }
    </style>
    <meta charset="UTF-8">
</head>
<body>
<main>
    <h1>My Test Shop</h1>
    <h2 th:text="'Transaction ' + ${tx.id}"></h2>

    <div><a href="/purchase">Create new</a></div>
    <p>&nbsp;</p>
    <table cellspacing="10">
        <tr><td>Type</td><td th:text="${tx.transactionType}"></td></tr>
        <tr><td>Amount</td><td th:text="${tx.amount}"></td></tr>
        <tr><td>Reusable?</td><td th:text="${tx.reusable}"></td></tr>
        <tr><td>Session key</td><td th:text="${tx.sessionKey}"></td></tr>
        <tr><td>Card Identifier</td><td th:text="${tx.cardIdentifier}"></td></tr>
        <tr><td>Opayo Transaction Id</td><td th:text="${tx.opayoTransactionId}"></td></tr>
    </table>

    <p>&nbsp;</p>
    <p th:if="${tx.reusable}"><a th:href="'/purchase/re-use/' + ${tx.id}">Re-use card identifier</a></p>
    <p th:if="${tx.reusable}"><a th:href="'/purchase/repeat/' + ${tx.id}">Repeat transaction</a></p>
    <form th:action="'/complete-purchase/release/' + ${tx.id}" method="post">
        <button type="submit" class="btn-link">Release deferred transaction</button>
    </form>
    <p>&nbsp;</p>
    <form th:action="'/complete-purchase/refund/' + ${tx.id}" method="post">
        <input type="text" name="amount" placeholder="10.00" inputmode="decimal" style="width: 50px">
        <button type="submit" class="btn-link">Refund transaction</button>
    </form>

</main>
</body>
</html>