<!DOCTYPE html>
<html lang="en">
<head>
    <title>Payment Form</title>
    <script src="https://pi-test.sagepay.com/api/v1/js/sagepay.js"></script>
    <style>
    body * { font-family: sans-serif; }
    h1 { } input { font-size:12pt; }
    #main { width: 550px; margin: 0 auto; }
    #submit-container { padding-top:10px; float:right; }
    button[type=submit] { border:none; background:indigo; padding:10px; color:white; border-radius:5px; }
 </style>
    <meta charset="UTF-8">
</head>
<body>
<main>
    <h1>My Test Shop</h1>
    <form method="POST" action="/complete-purchase">
        <h2 th:inline="text">Payment Details for £[[${amount}]]</h2>
        <div id="sp-container"></div>
        <div id="submit-container">
            <button type="submit">Make Payment</button>
        </div>
        <input type="hidden" name="myTransactionId" th:value="${myTransactionId}">
    </form>
</main>
<script th:inline="javascript"> sagepayCheckout({ merchantSessionKey: [[${merchantSessionKey}]] }).form();</script>
</body>
</html>